<nz-layout class="tablePage">
  <nz-header>
    <div class="filter">
      <div>
        <span>赛场</span>
        <div>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="请选择" [(ngModel)]="targetFieldId">
            <nz-option *ngFor="let field of fieldArray$|async" [nzValue]="field.id" [nzLabel]="field['名称']">
            </nz-option>
          </nz-select>
        </div>
      </div>
      <div>
        <span>{{'时间'| language | async}}</span>
        <div>
          <nz-range-picker nzFormat="yyyy-MM-dd" [(ngModel)]="timeRange"></nz-range-picker>
        </div>
      </div>
    </div>
    <div class="right">
      <button nz-button nzType="primary" (click)="searchEvent.next(null)">
        <i nz-icon nzType="search"></i>{{'查询'| language | async}}
      </button>
      <button nz-button nzType="primary" (click)="reset()">
        <i nz-icon nzType="undo"></i>{{'重置'| language | async}}
      </button>
      <button nz-button nzType="primary" style="margin-left: 10px;float:right" (click)="binder.editHandler()">
        <i nz-icon nzType="plus" nzTheme="outline"></i> {{'添加'| language | async}}
      </button>
      <app-excel-import interface="api/import/windLog" (importSuccess)="searchEvent.next(null)"
        [requestBody]="{fieldId:targetFieldId}"></app-excel-import>
      <button nz-button nzType="primary" [disabled]="isExporting === true" (click)="isShowExport = true">
        <i nz-icon [nzType]="isExporting ? 'loading' : 'download'"></i>
        {{(isExporting === false ? '导出' :  '导出中') | language | async}}
      </button>
    </div>
  </nz-header>
  <nz-content>
    <nz-table #table nzShowSizeChanger [nzFrontPagination]="false" [nzData]="binder.data$ | async"
      (nzPageSizeChange)="binder.pageSizeChangeHandler($event)" [nzTotal]="binder.total$ | async"
      (nzPageIndexChange)="binder.pageIndexChangeHandler($event)" [nzLoading]="binder.loading$ | async">
      <thead>
        <tr>
          <th nzWidth="100px">{{'序号'| language | async}}</th>
          <th>{{'赛场'| language | async}}</th>
          <th>{{'风速仪'| language | async}}</th>
          <th>{{'时间'| language | async}}</th>
          <th>{{'风向'| language | async}}(°)</th>
          <th>{{'风速'| language | async}}(m/s)</th>
          <th *ngIf="showMode1">{{'温度'| language | async}}(℃)</th>
          <th *ngIf="showMode1">{{'气压'| language | async}}(hPa)</th>
          <th *ngIf="showMode2">{{'赛道风指数'| language | async}}</th>
          <th *ngIf="showMode2">{{'综合赛道风指数'| language | async}}</th>
          <th nzWidth="140px" nzRight="0px" nzAlign="center">{{'操作'| language | async}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of table.data; let index = index" [class]="{'row-two':index % 2 === 1}">
          <td>{{index + 1}}</td>
          <td>{{data['赛场']['名称']}}</td>
          <td>{{data['风速仪']['编号']}}</td>
          <td>{{data['时间']}}</td>
          <td>{{data['风向']}}</td>
          <td>{{data['风速']}}</td>
          <td *ngIf="showMode1">{{data['温度'] === null ? '--' : data['温度']}}</td>
          <td *ngIf="showMode1">{{data['气压'] === null ? '--' : data['气压']}}</td>
          <td *ngIf="showMode2">{{data['赛道风指数'] === null ? '--' : data['赛道风指数']}}</td>
          <td *ngIf="showMode2">{{data['综合赛道风指数'] === null ? '--' : data['综合赛道风指数']}}</td>
          <td nzAlign="center">
            <a (click)="binder.editHandler(data)">{{'编辑'| language | async}}</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="binder.deleteHandler(data)">{{'删除'| language | async}}</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-content>
</nz-layout>

<nz-modal [(nzVisible)]="isShowExport" [nzTitle]="'选择导出日期' | language | async" (nzOnOk)="exportHandler()"
  (nzOnCancel)="isShowExport = false" [nzOkLoading]="isExporting">
  <span style="margin-right: 16px;">指定要导出的日期:</span>
  <nz-date-picker nzFormat="yyyy-MM-dd" [(ngModel)]="exportDate"></nz-date-picker>
</nz-modal>