<nz-layout class="tablePage">
  <nz-header>
    <div class="filter">
      <div>
        <span>{{'名称'| language | async}}</span>
        <div>
          <app-filter-selector [(ngModel)]="filed" [klass]="FieldEntity" [label]="FieldEntityLabel">
          </app-filter-selector>
        </div>
      </div>
      <div>
        <span>{{'国家'| language | async}}</span>
        <div>
          <input nz-input placeholder="" [(ngModel)]="country" />
        </div>
      </div>
      <div>
        <span>{{'城市'| language | async}}</span>
        <div>
          <input nz-input placeholder="" [(ngModel)]="city" />
        </div>
      </div>
    </div>
    <div class="right">
      <button nz-button nzType="primary" (click)="searchEvent.next(null)">
        <i nz-icon nzType="search"></i>{{'查询'| language | async}}
      </button>
      <button nz-button nzType="primary" (click)="reset()">
        <i nz-icon nzType="undo"></i>{{'重置'| language | async}}
      </button>
      <button nz-button nzType="primary" style="margin-left: 10px;float:right" (click)="binder.editHandler()">
        <i nz-icon nzType="plus" nzTheme="outline"></i> {{'添加'| language | async}}
      </button>
    </div>
  </nz-header>
  <nz-content>
    <nz-table #table nzShowSizeChanger [nzFrontPagination]="false" [nzData]="binder.data$ | async"
      (nzPageSizeChange)="binder.pageSizeChangeHandler($event)" [nzTotal]="binder.total$ | async"
      (nzPageIndexChange)="binder.pageIndexChangeHandler($event)" [nzLoading]="binder.loading$ | async">
      <thead>
        <tr>
          <th nzWidth="100px">{{'序号'| language | async}}</th>
          <th>{{'名称'| language | async}}</th>
          <th>{{'国家'| language | async}}</th>
          <th>{{'城市'| language | async}}</th>
          <th>{{'备注'| language | async}}</th>
          <th nzWidth="340px" nzRight="0px" nzAlign="center">{{'操作'| language | async}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of table.data; let index = index" [class]="{'row-two':index % 2 === 1}">
          <td>{{index + 1}}</td>
          <td>{{data['名称']}}</td>
          <td>{{data['国家']}}</td>
          <td>{{data['城市']}}</td>
          <td>{{data['备注']}}</td>
          <td nzAlign="center">
            <a (click)="showMovie(data)">{{'查看影像'| language | async}}</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="showPhoto(data)">{{'查看照片'| language | async}}</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="binder.editHandler(data)">{{'编辑'| language | async}}</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="binder.deleteHandler(data)">{{'删除'| language | async}}</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-content>
</nz-layout>

<nz-modal [(nzVisible)]="showPhotoUrl" [nzTitle]="'查看照片' | language | async" (nzOnOk)="closeShow()"
  (nzOnCancel)="closeShow()" nzWidth="720">
  <div style="display:flex;justify-content:center">
    <img [src]="showPhotoUrl" style="max-width:720px;max-height:540px" />
  </div>
</nz-modal>

<nz-modal [(nzVisible)]="showMovieUrl" [nzTitle]="'查看影像' | language | async" (nzOnOk)="closeShow()"
  (nzOnCancel)="closeShow()" nzWidth="720">
  <div style="display:flex;justify-content:center" *ngIf="showMovieUrl">
    <video style="width:100%" controls="controls" autoplay="autoplay" style="width:720px">
      <source [src]="showMovieUrl" type="video/mp4" style="max-width:720px;max-height:540px" />
    </video>
  </div>
</nz-modal>