<nz-layout class="tablePage">
  <nz-header>
    <div class="right">
      <button nz-button nzType="primary" style="margin-left: 10px;float:right" (click)="binder.editHandler()">
        <i nz-icon nzType="plus" nzTheme="outline"></i> 添加
      </button>
    </div>
  </nz-header>
  <nz-content>
    <nz-table #table nzShowSizeChanger [nzFrontPagination]="false" 
    [nzData]="binder.data$ | async"
      (nzPageSizeChange)="binder.pageSizeChangeHandler($event)" 
      [nzTotal]="binder.total$ | async"
      (nzPageIndexChange)="binder.pageIndexChangeHandler($event)" 
      [nzLoading]="binder.loading$ | async">
      <thead>
        <tr>
          <th nzWidth="100px">序号</th>
          <th>名称</th>
          <th nzWidth="140px" nzRight="0px" nzAlign="center">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of table.data; let index = index">
          <td>{{index + 1}}</td>
          <td>{{data.name}}</td>
          <td nzAlign="center">
            <a (click)="binder.editHandler(data)">编辑</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="binder.deleteHandler(data)">删除</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-content>
</nz-layout>