<nz-layout class="tablePage">
  <nz-header>
  </nz-header>
  <nz-content>
    <nz-table #table nzShowSizeChanger [nzFrontPagination]="true" [nzData]="data" [nzTotal]="data.length">
      <thead>
        <tr>
          <th nzWidth="100px">序号</th>
          <th>编号</th>
          <th nzWidth="200px" nzRight="0px" nzAlign="center">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of table.data; let index = index">
          <td>{{index + 1}}</td>
          <td>{{item.mid}}</td>
          <td nzAlign="center">
            <a (click)="showLogs(item)">原始数据日志</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="show(item)">查看</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-content>
</nz-layout>