<nz-layout class="tablePage">
  <nz-content>
    <nz-table #table [nzData]="tableData" #groupingTable [nzFrontPagination]="false" nzSize="small">
      <thead>
        <tr>
          <th rowspan="2" nzAlign="center"></th>
          <th *ngFor="let col of colArr" nzAlign="center">{{col.aa}}</th>
        </tr>
        <tr>
          <th *ngFor="let col of colArr" nzAlign="center">{{col.bb}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of table.data; let index = index" [class]="{'row-two':index % 2 === 1}">
          <td nzAlign="center">{{row.speed}}</td>
          <td *ngFor="let data of row.colArr" nzAlign="center">
            <a nz-button nzType="primary" *ngIf="!data" nzType="link" disabled>暂无数据</a>
            <a nz-button nzType="primary" *ngIf="!!data" nzType="link" (click)="show(data)">查看</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-content>
</nz-layout>

<nz-modal [(nzVisible)]="showData" nzTitle="查看数据" (nzOnCancel)="showData = null" (nzOnOk)="showData = null">
  <ng-template [ngIf]="showData">
    <p>风向旗与重力方向夹角（A）:{{showData!.angle1}}</p>
    <p>风向旗与重力方向夹角（B）{{showData!.angle2}}</p>
    <img [src]="showData!.url" style="width:100%">
    <video style="width:100%"  controls="controls" autoplay="autoplay">
      <source [src]="showData!.urlViedo" type="video/mp4" />
    </video>
  </ng-template>
</nz-modal>