:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  height: 100vh;
}


.sidebar-trigger {
  position: absolute;
  bottom: 16px;
  left: 16px;
  height: 32px;
  font-size: 36px;
  cursor: pointer;
  transition: all .3s, padding 0s;
}

.trigger:hover {
  color: #1890ff;
}

.header-logo {
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  background: #001529;
  transition: all .3s;
}

.header-logo img {
  display: inline-block;
  height: 48px;
  width: 48px;
  vertical-align: middle;
}

.header-toolbar h2 {
  display: inline-block;
  margin: 0 0 0 20px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}

.header-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}

.header-holder {
  flex-grow: 1;
}

.header-toolbar {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
  height: 64px;
}

.app-header {
  position: relative;
  height: 64px;
  padding: 0;
  background: rgba(0, 21, 41, .08);
  display: flex;
}

nz-content {
  padding: 24px;
}

.inner-content {
  height: 100%;
}

.header-toolbar ::ng-deep [nz-button] {
  border: 0;
}

.ant-menu-inline .ant-menu-item{
  font-size: 18px;
}

::ng-deep .ant-menu-inline .ant-menu-submenu-title{
  font-size: 20px;
}
