<nz-layout class="app-layout big-font">
  <nz-header>
    <div class="app-header">
      <div class="header-logo">
        <a href="" target="_blank">
          <img src="assets/imgs/logo.jpg" alt="logo">
          <h1>{{'冬奥重点运动员训练比赛及风环境管理大数据平台'| language | async}}</h1>
        </a>
      </div>
      <div class="header-holder">
      </div>
      <div class="header-toolbar">
        <h2>{{'国家重点研发计划“科技冬奥”专项 雪上项目场地环境要素影响评估与临场决策辅助支持系统'|language|async}}</h2>
        <button nz-button nz-dropdown nzGhost [nzDropdownMenu]="menu4">
          <i nz-icon nzType="translation" nzTheme="outline"></i>
        </button>
        <nz-dropdown-menu #menu4="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item (click)="changeLanguage('中文')">中文</li>
            <li nz-menu-item (click)="changeLanguage('english')">English</li>
          </ul>
        </nz-dropdown-menu>
        <button nz-button nz-dropdown nzGhost [nzDropdownMenu]="menu2">
          <i nz-icon nzType="logout" nzTheme="outline"></i>
        </button>
        <nz-dropdown-menu #menu2="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item (click)="logout()">退出</li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </div>
  </nz-header>
  <nz-layout>
    <nz-sider class="menu-sidebar" nzCollapsible nzWidth="225px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
      nzTheme="dark" [nzTrigger]="null">
      <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed" nzTheme="dark">
        <li nz-menu-item nzMatchRouter>
          <a routerLink="首页">{{'首页'| language | async}}</a>
        </li>
        <li nz-submenu [nzOpen]="openIndex === 1" (nzOpenChange)="openIndex = 1"
          [nzTitle]="'训练比赛大数据库' | language | async">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="base/赛场管理">{{'赛场管理'| language | async}}</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="base/运动员管理">{{'运动员管理'| language | async}}</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="base/设备管理">{{'设备管理'| language | async}}</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="gradeRoute">{{'赛训记录'| language | async}}</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="log/风场记录">{{'风场记录'| language | async}}</a>
            </li>
          </ul>
        </li>
        <li nz-menu-item nzMatchRouter>
          <a routerLink="other/测风形态数据库">{{'测风形态数据库'| language | async}}</a>
        </li>
      </ul>
    </nz-sider>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>