<div class="back-arrow block" (click)="goBack()" href="#">
  <i nz-icon nzType="left" nzTheme="outline"></i>
  <span>返回</span>
</div>

<nz-card nzTitle="工作模式" class="block">
  <nz-row class="info">
    <nz-col nzSpan="24">
      <span
        class="label">工作模式:</span>{{
          currentItem['101'] === 1 ? '模式状态1-光伏供直流负荷' :
          currentItem['102'] === 1 ? '模式状态2-光伏存入储能' :
          currentItem['103'] === 1 ? '模式状态3-光伏供交流负荷' :
          currentItem['104'] === 1 ? '模式状态4-光伏余量上网' :
          currentItem['105'] === 1 ? '模式状态5-储能供交流负荷' :
          currentItem['106'] === 1 ? '模式状态6-电网买电存入储能' :
          currentItem['107'] === 1 ? '模式状态7-P2P购电' :
          currentItem['108'] === 1 ? '模式状态8-P2P售电' :
          currentItem['109'] === 1 ? '模式状态9-电网买电供直流负荷' :
          '待机'
        }}
    </nz-col>
  </nz-row>
</nz-card>

<nz-card *ngFor="let item of items" [nzTitle]="item.title" class="block">
  <nz-row class="info" *ngFor="let items of group(item.child)">
    <nz-col nzSpan="6" *ngFor="let item of items">
      <span
        class="label">{{item.name}}:</span>{{ item.render ? item.render(cover(item.register)) : cover(item.register) + item.dw }}
    </nz-col>
  </nz-row>
</nz-card>

<nz-card nzTitle="售电" class="block">
  <input nz-input [(ngModel)]="sellValue" style="width:240px" />
  <nz-time-picker [(ngModel)]="sellDate"></nz-time-picker>
  <button nz-button (click)="sellHandler()">售出</button>
</nz-card>
<nz-card nzTitle="购电" class="block">
  <input nz-input [(ngModel)]="buyValue" style="width:240px" />
  <nz-time-picker [(ngModel)]="buyDate"></nz-time-picker>
  <button nz-button (click)="buyHandler()">购买</button>
</nz-card>
<nz-card nzTitle="上传周期" class="block">
  <div>
    工作时:<nz-input-number nzSize="default" [(ngModel)]="mode" [nzMin]="10" [nzStep]="1"></nz-input-number>秒
  </div>
  <div>
    空闲时:<nz-input-number nzSize="default" [(ngModel)]="standby" [nzMin]="mode" [nzMax]="2000" [nzStep]="1"></nz-input-number>秒
  </div>
  <button nz-button (click)="resetCycleHandler()">确认</button>
</nz-card>
<nz-card nzTitle="校时" class="block">
  <div>
    <button nz-button (click)="resetDateHandler()">矫正为当前时间</button>
  </div>
  <div>
    <nz-date-picker [nzShowTime]="true" [(ngModel)]="resetDate"></nz-date-picker>
    <button nz-button (click)="resetDateHandler(resetDate)">矫正</button>
  </div>
</nz-card>
<nz-card nzTitle="终止交易" class="block">
  <button nz-button (click)="stopHandler()">确认</button>
</nz-card>
<nz-card nzTitle="设置阈值" class="block">
  <div>
    用户用电功率阈值:<nz-input-number nzSize="default" [(ngModel)]="userPower" [nzMin]="100" [nzMax]="6000" [nzStep]="1"></nz-input-number>W
  </div>
  <div>
    电池下限:<nz-input-number nzSize="default" [(ngModel)]="batteryLow" [nzMin]="10" [nzMax]="2600" [nzStep]="1"></nz-input-number>WH
  </div>
  <div>
    电池上限:<nz-input-number nzSize="default" [(ngModel)]="batteryHigh" [nzMin]="batteryLow" [nzMax]="2600" [nzStep]="1"></nz-input-number>WH
  </div>
  <div>
    使用光伏功率阈值:<nz-input-number nzSize="default" [(ngModel)]="pvPower" [nzMin]="100" [nzMax]="3000" [nzStep]="1"></nz-input-number>W
  </div>
  <button nz-button (click)="setValueHandler()">确认</button>
</nz-card>